<launch>
<arg name="rviz" default="false"/>

<!-- do not use Linux wall time but a simulated time -->
<param name="/use_sim_time" value="true"/>
<arg name="world" value="arenes"/>

<!-- find /opt/ros/*/share/stage* -name "*.world" -->
<node pkg="stage_ros" type="stageros" name="stage" output="screen" required="true"
  args="$(find laser_random_walk)/config/$(arg world).world" />

<node pkg="tf" type="static_transform_publisher" name="laser2base_broadcaster" output="screen"
      args="0 0 0  0 0 0  /robot_0/base_link /robot_0/base_laser_link 100" />

<node if="$(arg rviz)" pkg="rviz" type="rviz" name="rviz"
      args="--display-config $(find laser_random_walk)/config/stage_rviz_config.rviz"/>

<node pkg="laser_random_walk" type="wall_follower.exe" output="screen"
      name="wall_follower"
      args="_min_vel_lin:=.05  _max_vel_lin:=0.5  _robot_radius:=.2 _wall_distance:=.5">
  <remap from="/cmd_vel" to="/robot_0/cmd_vel" />
  <remap from="/scan" to="/robot_0/base_scan" />
</node>

<!--
http://www.openrobots.org/morse/doc/1.2/user/advanced_tutorials/ros_nav_tutorial.html
http://wiki.ros.org/gmapping#Required_tf_Transforms
$ sudo apt-get install ros-indigo-slam-gmapping  -->
<node pkg="gmapping" type="slam_gmapping" name="gmapping" output="screen"
      args="scan:=/robot_0/base_scan  _base_frame:=/robot_0/base_link  _odom_frame:=/robot_0/odom" />
</launch>
